/*includes styling common to all pages*/
.border
{
    border: 2px solid black;
}
.border-blue
{
    border: 2px solid blue;
}
body
{
    display: flex;
    flex-direction: column;
}

html
{
    height: 100vh;
    overflow: hidden;
}

.custom-side-bar
{
    width: 20%;
}

.custom-mdl-layout__content
{
    margin-left: 20%;
}
.mdl-layout-title
{
    font-family: 'Spicy Rice', cursive;
    font-size: xx-large;
}
.mdl-textfield__input
{
    border-bottom: 1px solid #000;
}
.mdl-textfield__label{
    color: #000;
}
.gotu
{
    font-family: 'Gotu', sans-serif;
}
a
{
    text-decoration: none;
}
.top-bar-btn
{
    color: #FFFFFF;
}
.top-bar-btn:hover
{
    border-bottom: 2px solid white;
    background-color: rgb(233,30,99);
}
.blur-filter
{
    filter: blur(3px)  brightness(85%);
}
.bg
{
    background-image:
        linear-gradient(45deg,rgba(130, 220, 255, 0.6),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)),
        url("../images/ice-cream-2.png");
    background-position: right top;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}
.scrollable{
    overflow-y: auto;
    overflow-x: hidden;
}
#searchBar {
    width : 50% ;
    margin-left: 5%;
}
#cart-image{
    width:35px;
    height:35px;
}
